language: c

script: 
    - ./travis-tool.sh run_tests
    - cd ../ && Rscript tests.R

before_install:
    - cd pkg
    - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
    - chmod 755 ./travis-tool.sh
    - ./travis-tool.sh bootstrap
install:
    - ./travis-tool.sh install_deps
    - ./travis-tool.sh install_r testthat


notifications:
    email:
      on_success: change
      on_failure: change
