export(bootstrap_xmin)
exportClasses(displ)
exportClasses(distribution)
exportClasses(pl_data)
export(displ)
export(distribution)
export(dpldis)
export(estimate_pars)
export(estimate_xmin)
export(get_KS_statistic)
exportMethods(dist_cdf)
exportMethods(dist_ll)
exportMethods(dist_pdf)
exportMethods(dist_rand)
exportMethods(lines)
exportMethods(plot)
exportMethods(points)
export(pl_data)
export(ppldis)
export(rpldis)
importFrom(parallel,clusterExport)
importFrom(parallel,makeCluster)
importFrom(parallel,parSapplyLB)
importFrom(parallel,stopCluster)
importFrom(VGAM,zeta)
