graphics/
blackouts.txt
*-concordance.tex
a_introduction.pdf
a_introduction.tex
knitr_*
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
b_powerlaw_examples.tex
b_powerlaw_examples.pdf
cache
knitr_*
compare_distributions.md
compare_distributions.html
compare_distributions.pdf
compare_distributions.tex
Rplots.pdf
a_introduction.pdf
tmp.html
c_comparing_distributions.pdf
c_comparing_distributions.tex
