graphics/
blackouts.txt
*-concordance.tex
a_introduction.tex
a_introduction.R
knitr_*
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.tpt
b_powerlaw_examples.pdf
b_powerlaw_examples.tex
b_powerlaw_examples.R
cache
knitr_*
Rplots.pdf
tmp.html
c_comparing_distributions.tex
c_comparing_distributions.R
c_comparing_distributions.pdf
a_introduction.pdf
d_jss_paper.tpt
