export(bootstrap)
export(bootstrap_p)
exportClasses(conexp)
exportClasses(conlnorm)
exportClasses(conpl)
exportClasses(disexp)
exportClasses(dislnorm)
exportClasses(displ)
exportClasses(dispois)
export(compare_distributions)
export(conexp)
export(conlnorm)
export(conpl)
export(disexp)
export(dislnorm)
export(displ)
export(dispois)
export(dplcon)
export(dpldis)
export(estimate_pars)
export(estimate_xmin)
export(get_KS_statistic)
exportMethods(dist_cdf)
exportMethods(dist_data_cdf)
exportMethods(dist_ll)
exportMethods(dist_pdf)
exportMethods(dist_rand)
exportMethods(lines)
exportMethods(plot)
exportMethods(points)
export(pplcon)
export(ppldis)
export(rplcon)
export(rpldis)
importFrom(parallel,clusterExport)
importFrom(parallel,makeCluster)
importFrom(parallel,parSapply)
importFrom(parallel,stopCluster)
importFrom(VGAM,zeta)
S3method(plot,bs_p_xmin)
S3method(plot,bs_xmin)
S3method(plot,compare_distributions)
