export(bootstrap)
export(bootstrap_p)
exportClasses(conpl)
exportClasses(dislnorm)
exportClasses(displ)
exportClasses(dispois)
exportClasses(distribution)
exportClasses(pl_data)
export(conpl)
export(dislnorm)
export(displ)
export(dispois)
export(distribution)
export(dplcon)
export(dpldis)
export(estimate_pars)
export(estimate_xmin)
export(get_KS_statistic)
exportMethods(dist_cdf)
exportMethods(dist_data_cdf)
exportMethods(dist_ll)
exportMethods(dist_pdf)
exportMethods(dist_rand)
exportMethods(lines)
exportMethods(plot)
exportMethods(points)
export(pl_data)
export(pplcon)
export(ppldis)
export(rplcon)
export(rpldis)
importFrom(parallel,clusterExport)
importFrom(parallel,makeCluster)
importFrom(parallel,parSapply)
importFrom(parallel,stopCluster)
importFrom(VGAM,zeta)
